body {
	background: url("https://cdn.pixabay.com/photo/2015/09/09/16/05/forest-931706_1280.jpg") no-repeat center center fixed;
	background-size: cover;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #ffffff5c;
}

.my-navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #F5EBC6
}

.my-navbar li{
	float: left;
}

.my-navbar .right-nav {
	float: right;
}

.my-navbar li a {
	display: block;
	color: #8BC4A6;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.5s;
}

.my-navbar li a:hover {
	background-color: #0D2B2A;
}

.homeh1 {
	text-align: center;
}

.carousel-background {
	background: rgba(255,255,255,1);
}

.carousel-item {
	text-align: center;
}

.carousel-inner img{
	height: 400px;
	display: inline-block;
}

.homeBlurb {
	margin-top: 20px;
}

.homeBlurb p {
	background: rgb(13, 43, 42, 1);
	color: #F5EBC6;
}

.beast-item {
	list-style-type: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.blog-img {
	background:  rgba(255,255,255,1);
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%
}

.link-pic {
	background:  rgba(255,255,255,1);
	width: 150px;
	height: 130px;
	border-radius: 20px
}

.beast-link {
	margin-top: 10px;
}

.link-name {
	color: #8BC4A6;
	background: rgb(13, 43, 42, 1);
}

.beast-item-name {
	margin-bottom: 20px;
}

.new-btn {
	background-color: #E9C729;
}

.btn-center {
	text-align: center;
}

.back-btn {
	color: #8BC4A6;
	background-color: #133F3D;
	margin-left: 3%;
}

.edit-btn {
	background-color: #3E9981;
	margin-left: 1%;
}

.delete-btn {
	margin-top: 20px;
	margin-left: 3%;
	background-color: #E9C729;
}

.blog-img {
	height: 300px;
	width: auto;
}

.blog-blurb {
	background: rgb(124, 145, 130, 1);
	margin-left: 5%;
	margin-right: 5%;
}

a {
	text-decoration: none;
}

p {
	color: #324236;
}

footer {
	color: #8BC4A6;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;

}